<style>
    .left-panel {
        position: absolute;
        height: 100%;
        width: 60px;
        background-color: #E7E7E7;
        padding-top: 30px;
    }

    .left-panel ul {
        padding-top: 20px;
        list-style: none;
        position: absolute;
        left: -25px;
        font-size: 25px;
        line-height: 50px;
    }

    .left-panel ul a {
        color: #8C8C8C;
    }

    .left-panel .left-panel-bottom {
        bottom: 0;
    }

    .top-panel {
        height: 40px;
        background-color: #78A300;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .ng-isolate-scope > a {
        background-color: #95BE22 !important;
        color: #FBFBFB !important;
    }

    .user-header-dropdown-toggle {
        color: #FBFBFB;
    }

    .tab-content-top {
        top: -70px;
        margin-left: 10px;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #c4c4c4;
    }

    .tab-content-top .ticket-status {
        width: 100px;
        min-width: 30px;
        height: 25px;
        margin-top: 10px;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
    }

    .frm-main-ticket fieldset {
        margin-top: -60px;
        height: 100%;
    }

    .frm-main-ticket .frm-ticket-left {
        border-right: 1px solid #c4c4c4;
        margin-top: -70px !important;
    }
    .frm-main-ticket .frm-ticket-left .frm-left-border {
        border: 1px solid #c4c4c4;
    }
    .frm-main-ticket .frm-ticket-right {
        padding-left: 30px;
    }

    body {
        background-color: #FBFBFB;
    }
</style>
<section data-ng-controller="HomeController">
    <div class="left-panel">
        <ul>
            <li><a><i class="fa fa-home"></i></a></li>
            <li><a><i class="fa fa-ticket"></i></a></li>
            <li><a><i class="fa fa-user"></i></a></li>
            <li><a><i class="fa fa-search"></i></a></li>
        </ul>
        <ul class="left-panel-bottom">
            <li><a><i class="fa fa-life-bouy"></i></a></li>
            <li><a><i class="fa fa-bar-chart-o"></i></a></li>
            <li><a><i class="fa fa-cog"></i></a></li>
        </ul>
    </div>
    <div class="top-panel">
    </div>
    <!--<nav class="top-navbar collapse navbar-collapse" collapse="!isCollapsed" role="navigation">-->
    <div class="top-navbar">
        <!--        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
                        <a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
            </li>
            <li>

            </li>
        </ul>-->
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                    <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="img-rounded small-profile-picture" /><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.profile">
                            <strong><span data-ng-bind="authentication.user.displayName"></span></strong>
                            <br>
                            <span>Edit Profile</span>
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.picture">Change Profile Picture</a>
                    </li>
                    <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
                        <a data-ui-sref="settings.password">Change Password</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/api/auth/signout" target="_self">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <tabset class="main-tab-list" data-ng-show="authentication.user">
            <tab data-ng-repeat="ticket in tickets" class="ticket-tab" data-ng-controller="ArticlesController" active="ticket.active">
                <tab-heading>
                    <i class="glyphicon glyphicon-asterisk"></i> {{ticket.title}}
                </tab-heading>
                <div class="col-md-12 tab-content-top">
                    <div class="ticket-status"></div>
                </div>
                <form name="articleForm" class="form-horizontal frm-main-ticket" data-ng-submit="create(ticket.tabIndex)" novalidate>
                    <fieldset class="col-md-3 frm-ticket-left">
                        <!--<div class="col-xs-10">
                            <label class="control-label" for="requester">Requester</label>
                            <div class="controls">
                                <select data-ng-model="ticket.requester" name="requester" class="form-control">
                                    <option data-ng-repeat="user in requesters" value="{{user._id}}">{{user.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="control-label" for="requester">Assignee</label>
                            <div class="controls">
                                <select data-ng-model="article.assignee" name="requester" class="form-control">
                                    <option data-ng-repeat="user in requesters" value="{{user._id}}">{{user.displayName}}</option>
                                </select>
                            </div>
                        </div>-->
                            <div class='container-fluid controls col-xs-12' ng-controller="TypeaheadCtrl">
                                <label class="control-label" for="requester">Requester</label>
                                <input type="text" data-ng-model="asyncSelected" typeahead-on-select="change(asyncSelected)" placeholder="Type to search" typeahead="user.displayName for user in getUser($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class='container-fluid controls col-xs-12' ng-controller="TypeaheadCtrl">
                                <label class="control-label" for="requester">Assignee</label>
                                <input type="text" data-ng-model="asyncSelected" placeholder="Type to search" typeahead="user.displayName for user in getUser($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="type">Type</label>
                                <div class="controls">
                                    <select name="type" class="form-control" data-ng-model="ticket.type">
                                        <option value=0>-</option>
                                        <option value=1>Question</option>
                                        <option value=2>Incident</option>
                                        <option value=3>Problem</option>
                                        <option value=4>Task</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="priority">Priority</label>
                                <div class="controls">
                                    <select name="priority" id="priority" class="form-control" data-ng-model="ticket.priority">
                                        <option value=0>-</option>
                                        <option value=1>Low</option>
                                        <option value=2>Normal</option>
                                        <option value=3>High</option>
                                        <option value=4>Urgent</option>
                                    </select>
                                </div>
                            </div>
                    </fieldset>
                    <fieldset class="col-md-8 frm-ticket-right">
                        <div>
                            <p data-ng-bind="ticket.created | date:'MM/dd/yyyy \'at\' h:mma'"></p>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <!--<i class="glyphicon glyphicon-refresh well well-sm"></i>-->
                                <input name="title" type="text" data-ng-model="ticket.title" id="title" class="form-control" placeholder="Title">
                            </div>
                        </div>
                        <div>
                            <strong data-ng-bind="ticket.content"></strong>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="content">Add new reply</label>
                            <div class="controls">
                                <textarea name="newReply" data-ng-model="ticket.newReply" class="form-control" cols="30" rows="5" placeholder="Type to add reply"></textarea>
                            </div>
                        </div>
                        <div class="list-group">
                            <a data-ng-repeat="response in ticket.responses|orderBy: '-created' track by $index" class="list-group-item">
                                <small class="list-group-item-text">
                                    Posted on
                                    <span data-ng-bind="response.created | date:'mediumDate'"></span>
                                    by
                                    <span data-ng-bind="response.user.displayName"></span>
                                </small>
                                <p class="list-group-item-text" data-ng-bind="response.content"></p>
                            </a>
                        </div>
                        <div class="form-group bottom-right-fixed">
                            <input type="submit" class="btn btn-primary btn-lg btn-block">
                        </div>
                    </fieldset>
                </form>
            </tab>
            <!--<tab class="ticket-tab">
                <tab-heading>
                    <i class="glyphicon glyphicon-inbox"></i> Home Hommmmm
                </tab-heading>
                <iframe class="ticket-tab-content" src="/articles/create"></iframe>
            </tab>-->
            <tab class="btn-add">
                <tab-heading>
                    <span class="dropdown" dropdown>
                   <span class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button" style="color: black !important">
                      <i class="fa fa-plus"></i>&nbsp;add
                   </span>
                    <ul class="create-menu dropdown-menu" role="menu">
                        <li data-ui-sref-active="disable" class="dropdown-group-title">
                            <a>New...</a>
                        </li>
                        <li class="divider"></li>
                        <li data-ui-sref-active="active" data-ng-click="createTicket()">
                            <a>Ticket</a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a>User</a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a>Organization</a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a>Search</a>
                        </li>
                        <li data-ui-sref-active="disable" class="dropdown-group-title">
                            <a>Recent tickets...</a>
                        </li>
                        <li class="divider"></li>
                        <li data-ui-sref-active="active">
                            <a>Recent ticket #1</a>
                        </li>
                    </ul>
                    </span>
                </tab-heading>
            </tab>
        </tabset>
    </div>
</section>
